.footer {
  display: flex;
  background: #3e4555 !important;
  padding: 10px 20px;
  margin-top: 75px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
}

.footer-nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-nav-items a,
.footer-extra-nav p {
  color: #fff;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav-items a:hover {
  color: #9352b3;
}
